@model List<Projet_Exam_ASP.NetCore.Models.Boutique>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@*
    <h1>Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ville)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.site)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


            <tr>
                <td>
                    @if (ViewBag.currentUser!=null && ViewBag.currentUser.Boutique!=null&&ViewBag.currentUser.Boutique.Id == item.Id )
                    {
                        <h6>Votre Boutique</h6>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.site)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image.Id)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (ViewBag.currentUser != null&&ViewBag.currentUser.Boutique != null && ViewBag.currentUser.Boutique.Id == item.Id)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>*@
<style>
     

        body {
            /*background-color: #fdf1ec;*/
        }

        .wrapper {
            height: 420px;
            width: 654px;
            margin: 10px;
            margin-top: 30px;
            border-radius: 7px 7px 7px 7px;
            /* VIA CSS MATIC https://goo.gl/cIbnS */
            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        }

        .product-img {
            float: left;
            height: 420px;
            width: 327px;
        }

            .product-img img {
                border-radius: 7px 0 0 7px;
            }

        .product-info {
            float: left;
            height: 420px;
            width: 327px;
            border-radius: 0 7px 10px 7px;
            background-color: white;
        }

        .product-text {
            height: 300px;
            width: 327px;
        }

            .product-text h1 {
                margin: 0 0 0 38px;
                padding-top: 52px;
                font-size: 34px;
                color: #474747;
            }

            .product-text h1,
            .product-price-btn p {
                font-family: 'Bentham', serif;
            }

            .product-text h2 {
                margin: 0 0 47px 38px;
                font-size: 13px;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                color: #808080a3;
                letter-spacing: 0.2em;
            }

            .product-text p {
                height: 125px;
                margin: 0 0 0 38px;
                font-family: 'Playfair Display', serif;
                color: #8d8d8d;
                line-height: 1.7em;
                font-size: 15px;
                font-weight: lighter;
                overflow: hidden;
                margin-right: 45px;
                text-align: justify;
            }

        .product-price-btn {
            height: 103px;
            width: 327px;
            margin-top: 17px;
            position: relative;
        }

            .product-price-btn p {
                display: inline-block;
                position: absolute;
                top: -13px;
                height: 50px;
                font-family: 'Trocchi', serif;
                margin: 0 0 0 38px;
                font-size: 28px;
                font-weight: lighter;
                color: #474747;
            }



            .product-price-btn button {
                float: right;
                display: inline-block;
                height: 50px;
                width: 176px;
                margin: 0 40px 0 16px;
                box-sizing: border-box;
                border: transparent;
                border-radius: 60px;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #ffffff;
                background-color: #000000;
                cursor: pointer;
                outline: none;
            }

                .product-price-btn button:hover {
                    background-color: #6c6b6b;
                }
</style>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body >
    <h2 style="font-family: century; margin-top: 70px; margin-bottom: 50px; align-self: center; color: #000; font-size: 26px; font-weight: 300; text-align: center; text-transform: uppercase; position: relative;">Toutes les boutiques</h2>
    <div style="display: inline-flex; flex-wrap: wrap; margin-left: 90px">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="wrapper">
                <div class="product-img">
                    <img style="background-color: #fdf1ec; object-fit:cover" src="@("/images/Boutiques/" + ViewBag.images[i])" height="420" width="327">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>@Model[i].Nom</h1>
                        @if (ViewBag.currentUser != null && ViewBag.currentUser.BoutiqueId == Model[i].Id)
                        {
                        <h2 style="color: #e03939; margin-top:5px" >Votre boutique</h2>
                        }
                        else
                        {
                            <h2>by @ViewBag.nomsPropriétaires[i]</h2>
                        }
                        <p>@Model[i].Description</p>
                    </div>
                    <div class="product-price-btn">
                        <a asp-action="details" asp-controller="Boutiques" asp-route-id="@Model[i].Id"><button  type="button">Voir details</button></a>
                    </div>
                </div>
            </div>
        }
    </div>
    
</body>

</html>